* {
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}


.grid {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-spinner {
 border: 16px solid #ccc; 
 border-top: 16px solid blue;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  background-color: red;
  border: 1px solid blue;
  color: yellow;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.pokebola {
  cursor: pointer;
  margin: 5px;
}